# Server Configuration
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# MongoDB Connection String (Local MongoDB or MongoDB Atlas URI)
# Local Example: mongodb://127.0.0.1:27017/cybershield
# Atlas Example: mongodb+srv://username:password@cluster.mongodb.net/cybershield?retryWrites=true&w=majority
MONGO_URI=mongodb://127.0.0.1:27017/cybershield

# JWT Security & Auth
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=24h
ADMIN_EMAIL=your_admin_email_here
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_admin_password_here

# Google Gemini AI Key
GEMINI_API_KEY=your_gemini_api_key_here

# WhoisXML API Key (https://whoisxmlapi.com)
WHOIS_API_KEY=your_whois_api_key_here

# Email (Nodemailer) Credentials
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password_here
